* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #1f2937;
  padding: 0 10em;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

.nav-link a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 120px 0;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-info p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-info button {
  background-color: #3882f6;
  font-size: 18px;
  color: #e5e7eb;
  border: none;
  padding: 8px 32px;
  border-radius: 10px;
  margin-top: 16px;
  cursor: pointer;
}

.hero-image {
  background-color: lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.hero-info,
.hero-image {
  flex: 1;
}

.info-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10em;
}

.info-section h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin: 32px 0;
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-bottom: 32px;
}

.info {
  flex: 1;
  text-align: center;
  max-width: 300px;
}

.info img {
  width: 100%;
  border: 5px solid #3882f6;
  border-radius: 10px;
  object-fit: contain;
}

.info p {
  font-size: 18px;
  margin-top: 12px;
}

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 5em 10em;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.author {
  margin-left: auto;
  font-size: 18px;
  color: #1f2937;
  font-weight: bold;
}

.cta-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em 10em;
}

.cta-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 48px 96px;
  gap: 32px;
  flex: 1;
}

.cta-info {
  flex: 1;
}

.cta-info h2 {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

.cta-info p {
  color: #f9faf8;
}

.cta-container button {
  background-color: #3882f6;
  font-size: 18px;
  color: #e5e7eb;
  border: 3px solid #f9faf8;
  padding: 8px 32px;
  border-radius: 10px;
  margin-top: 16px;
  cursor: pointer;
}
